{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="container" id="delete-category">
        <h1 class="title"  > Test Zone </h1>
        <h2 class="subtitle"> {{ TestCategories | length }} Tests </h2>

        {% if messages %}
            {% for message in messages %}
                <article class="message is-{{ message.tags }}">
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
        <a href="{% url 'testzone_add' %}" class="button is-link"> Add Test</a>
        <a href="#" class="button is-link"> Launch Test</a>
    </div>
    <div class="container">
        <div class="columns">
            {% for TestCategory in TestCategories %}
                <div class="column is-full">
                    <div class="card card-link">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"> {{ TestCategory.title }}</p>
                                </div>
                            </div>

                            <div class="content">
                                {{ TestCategory.description }}
                            </div>
                            <progress class="progress is-primary" value="{{ TestCategory.score }}" max="100">{{ TestCategory.score }}</progress>
                        </div>
                        <footer class="card-footer" id="delete-category">
                            <a href="{% url 'individualtestzone' TestCategory.id %}" class="card-footer-item"> Details </a>
                            <a href="{% url 'testzone_edit' TestCategory.id %}" class="card-footer-item"> Edit </a>
                            <a href="#" class="card-footer-item"> Redo </a>
                            <a href="{% url 'testzone_chiffrer' TestCategory.id %}" class="card-footer-item"> Chiffrer </a>
                            <a @click="toggleDialog({{ TestCategory.id }})" class="card-footer-item" > Delete </a>
                        </footer>
                    </div>
                {% endfor %}
            </div>
        </div>

    <div class="modal" v-bind:class="{ 'is-active' : showDialog }">
        <div class="modal-background"></div>

        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" > Are you sure ?</p>
                <button class="delete" aria-label="close" @click="showDialog = !showDialog"></button>
            </header>

            <section class="modal-card-body">
                If you delete this Test, all results belonging to it will be deleted as well !
            </section>

            <footer class="modal-card-foot">
                <button class="button is-success" @click="deleteTest()"> Yes, Delete</button>
                <button class="button" @click="showDialog = !showDialog"> Cancel </button>
            </footer>
        </div>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        new Vue({
        el: '#delete-category',
        delimiters: ['[[',']]'],
        data () {
            return {
                showDialog: false,
                TestCategory_id: 0,
            }
        },
            methods: {
                toggleDialog(id) {
                    this.TestCategory_id = id
                    this.showDialog = true
                },
                deleteTest() {
                    axios.post('/app/api/testzone_delete/' + this.TestCategory_id + '/')
                        .then((response) => {
                            console.log(response)

                            this.showDialog = false

                            window.location.href = '/app/testzone/'
                        })
                        .catch((function (error) {
                            console.log(error )
                        }))
                }
            }
    })
    </script>
{% endblock %}