{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
      <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
      <style>
        #footer {
            position: fixed;
            padding: 5px 5px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
            height: 60px;
        }
    </style>

  </head>
  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
      {% if request.user.userprofile.logo %}
          <div class="navbar-brand">
              <a href="{% url 'frontpage' %}" class="navbar-item">
                    <img src="{{request.user.userprofile.logo.url}}" alt="Spie">
              </a>
              <p class="navbar-item">{{request.user.userprofile.company}}</p>
          </div>
      {% else %}
      {% endif %}
      <div class="navbar-menu">
      {% if request.user.is_authenticated %}
        <div class="navbar-start">
            <a href="{% url 'testzone' %}" class="navbar-item"> Tester </a>
            <a href="{% url 'dashboard' %}" class="navbar-item"> Chiffrage </a>
            <a href="{% url 'inventaire_des_strategies_de_groupe'%}" class="navbar-item"> Inventaire GPO </a>
            <a href="{%  url 'points_de_controle_ad' %}" class="navbar-item"> PC AD </a>
            <a href="{%  url 'rapport_de_conf_ad' %}" class="navbar-item"> Rapport de Conf </a>
            <a href="{%  url 'rapport_d_inventaire_ad' %}" class="navbar-item"> Rapport d'inventaire </a>
        </div>

          {% else %}
          <div class="navbar-start">
              <a href="{% url 'plans' %}" class="navbar-item">Plans</a>
          </div>
      {% endif %}
          <div class="navbar-end">
              <div class="navbar-item">
                  <div class="buttons">
                      {% if request.user.is_authenticated %}
                        <a href="{% url 'settings' %}" class="button is-info">Settings</a>
                          <a href="{% url 'logout' %}" class="button is-danger">Log Out</a>
                      {% else %}
                          <a href="{% url 'signup' %}" class="button is-primary"> <strong>Sign up</strong></a>
                          <a href="{% url 'login' %}" class="button is-light" > Log in </a>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </nav>

  <section class="section">
    {% block content %}
    {%  endblock %}
  </section>
  <footer class="footer" id="footer">
      <div class="columns">
          <div class="column">
              <a href="{% url 'frontpage' %}" class="navbar-item">
              {% load static %}
                <img src="{% static '/img/spie.png' %}" alt="Spie">
          </a>
          </div>
          <div class="column is-right" style = "position:relative; left:480px; top:2px;">
              <div class="p-2">
                <p>Copyright &#169; 2022 SPIE ICS</p>
              </div>
          </div>
      </div>
  </footer>

    {% block scripts %}
    {% endblock %}
  </body>
</html>