{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="column is-full">
            <h1 class="title"> Explaining SECAD </h1>
        </div>
        <div class="is-flex-direction-column">
            <div class="column is-one-quarter">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> Basic </p>
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li> 5 test per month</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="column is-one-quarter">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> Basic </p>
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li> 50 test per month</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </div>
{% endblock %}